<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>InfinityGPGenerator</display-name>
  <filter>
	<filter-name>encodingFilter</filter-name>
	<filter-class>com.lyz.code.infinity.filter.EncodingFilter</filter-class>
</filter>
  <servlet>
    <servlet-name>generateSampleCodeController</servlet-name>
    <servlet-class>com.lyz.code.infinity.controller.GenerateSampleCodeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generateSampleCodeController</servlet-name>
    <url-pattern>/controller/generateSampleCodeController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>generateSampleCodeFacade</servlet-name>
    <servlet-class>com.lyz.code.infinity.facade.GenerateSampleCodeFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>generateSampleCodeFacade</servlet-name>
    <url-pattern>/facade/generateSampleCodeFacade</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>readSgsFileFacade</servlet-name>
    <servlet-class>com.lyz.code.infinity.facade.ReadSgsFileFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readSgsFileFacade</servlet-name>
    <url-pattern>/facade/readSgsFileFacade</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>readDocsFileFacade</servlet-name>
    <servlet-class>com.lyz.code.infinity.facade.ReadDocsFileFacade</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>readDocsFileFacade</servlet-name>
    <url-pattern>/facade/readDocsFileFacade</url-pattern>
  </servlet-mapping>
 
</web-app>